CMakeCache.txt
CMakeFIles
Makefile
tags
__pycache__/
CMakeFiles/
cmake_install.cmake
junk/
src/*.swp
www/*.swp
.ycm_extra_conf.pyc
www/assets/css/.style.css.swp
www/assets/js/chart
.CMakeLists.txt.swp
build
cb50_ctrl/src/.*.swp
schematic/#panel.sch#
schematic/panel.sch~
