html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 270px;
	clear: both;
}

.main-toolbar {
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.container {
    height: 100%;
}
	
.container-page-icon {
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-page-icon i:hover {
  color: #1abc9c !important;
}
.container canvas{
  margin-top: 100px; 
}

.container-spinner {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-param {
  margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
}

.container-param table{
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.container-rdo_group {
  text-align: center;
  margin-top: 20px;
  font-size: 150%;
  margin-top: 100px;
}
.container-rdo_group input[type="radio"] {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-right: 10px;
  vertical-align: center;
  margin-top: -1px;
}

.container-log-table {
  margin-top: 20px;
}
.log-table {
  width: 100%;
}

.buttons {
  text-align: right;
}

.buttons a {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons a:hover {
  color: #1abc9c !important;
}

.accept-button {
  color: green;
}

.reject-button {
  color: red;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background: linear-gradient(to right, rgb(60, 0, 0), rgb(200, 0, 0), rgb(60, 0, 0));
}
.navbar  a {
  /*color: rgb(204, 204, 204) !important;*/
  color: white !important;
}

.navbar-nav  li a:hover {
  color: rgb(128, 128, 128) !important;
}

.footer {
    margin-top: 50px;
    text-align: center;
    background: black;
    background-image: url("../img/footer-bg.png");
    padding: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-logo {
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-toolbar .btn-group button {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background: rgb(153, 153, 153);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border: 5px solid rgb(153, 153, 153);
	outline: 0;
	display: block;
}

.main-toolbar .btn-group button:focus {
	outline: 0;
	border: 5px solid rgb(153, 153, 153);
}

.main-toolbar .btn-group button:hover {
	background: rgb(51, 51, 51);
	border: 5px solid rgb(153, 153, 153);
	outline: 0;
}

.main-toolbar .btn-group button:active {
	background: rgb(153, 153, 153);
	border: none;
}

.container-run-msg {
	margin-top: 100px;
}
.container-run-msg i {
	margin-right: 10px;
	color: darkred;
}
.input-group {
	width: 100%;
}

.entry-edit-label {
	/*margin-left: 0;*/
	margin-right: 0;
	padding-right: 0;
	vertical-align: center;
	max-width: 50px;
}

.entry-edit {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.entry-edit .input-group-addon {
	text-align: left;
	width: auto;
}

.entry-edit-label .input-group-addon {
	text-align: right;
	width: auto;
}

.confirm-button {
	color: green;
}

.cancel-button {
	color: red;
}

.recipe-container {
	max-width: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.select-recipe-row {
	/*width: 500px;*/
	/*max-width: 500px;*/
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	/*padding-left: 100px;*/
}

#browse-recipe-entries {
	margin-top: 20px;
	width: 100%;
	font-size: 14pt;
}

#browse-recipe-entries i {
	/*margin-right: 10px;*/
}

#browse-recipe-entries td {
	padding-right: 20px;
	padding-left: 10px;

}

.adding-new-recipe-row {
	max-width: 900px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	vertical-align: bottom;
}

/*#browser-row {*/
	/*width: 100%;*/
/*}*/

/*#browse-recipe-entries {*/
	/*width: 100%;*/
/*}*/

/*.input-group-addon*/
/*{*/
	/*background-color:#FFF;*/
/*}*/

/*.input-group .input-group-addon + .form-control*/
/*{*/
	/*border:none;*/
	/*height: 100%;*/
/*}*/
